html {
  font-size: 10px;

}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.key {
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: rgb(235, 73, 93);
  background: rgba(0, 0, 0, 0.15);

}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #000000;
}

@media (min-width: 700px) {
  .container-drums svg {
    max-height: 65%;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
}

.container-drums svg {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 7em auto;
  height: 350px;
}

.animate {
  animation-duration: 0.1s;
  animation-name: playInstrument;
}

@keyframes playInstrument {
  from {
    transform-origin: 50% 50%;
    transform: scale(0.99);
  }

  to {
    transform-origin: 50% 50%;
    transform: scale(1.05);
  }
}
